.slide__wrapper
    .container
        .slide__container
            .slide__box.active
                .slide__item
                    .slide__description
                        h1.slide__title Авто в лизинг для физических лиц
                        p.slide__text Получите машину за 5 дней
                        button.slide__btn.form-btn Оставить заявку
            .slide__box
                .slide__item
                    .slide__description
                        h1.slide__title Условия лизинга легковых автомобилей
                        p.slide__text Самые лучшие условия для Вас
                        button.slide__btn.form-btn Оставить заявку
            .slide__box
                .slide__item
                    .slide__description
                        h1.slide__title Авто в лизинг для юридических лиц
                        p.slide__text Получите машину за 3 дня
                        button.slide__btn.form-btn Оставить заявку
            .slide__box
                .slide__item
                    .slide__description
                        h1.slide__title Каталог автомобилей в наличии
                        p.slide__text Выберите свой автомобиль!
                        button.slide__btn.form-btn Оставить заявку
            .slide__box
                .slide__item
                    .slide__description
                        h1.slide__title Условия и выгоды
                        p.slide__text С нами выгоднее всегда
                        button.slide__btn.form-btn Оставить заявку
            .slide__box
                .slide__item
                    .slide__description
                        h1.slide__title Схема лизинга легковых автомобилей
                        p.slide__text Ускоренная амортизация
                        button.slide__btn.form-btn Оставить заявку
            .slide__nav
                span.dot.active
                span.dot
                span.dot
                span.dot
                span.dot
                span.dot
            #btn-prev
                img(class="btn-arrow", src="assets/img/arrowNext.svg", alt="arrow")
                svg(width="26px" height="26px")
                    circle(cx="13", cy="13", r="12")
                    circle(class="prevBtn", cx="15", cy="15", r="12")
            #btn-next
                img(class="btn-arrow", src="assets/img/arrowNext.svg", alt="arrow")
                svg(width="50px" height="50px")
                    circle(cx="25", cy="25", r="24")
                    circle(id="progress-bar" class="progress-bar", cx="25", cy="25", r="24")
